<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="margin-top: 5px;">
  <ion-card style="border-top: 3px solid gray">
    <ion-card-header style="text-align: center;">
      <ion-avatar style="position: fixed;">    <img src="assets/icon/maradona.JPG" alt="">
      </ion-avatar>
      <ion-card-subtitle style="margin-left: 50px;">Ingenieria Informatica</ion-card-subtitle>
      <ion-card-title style="margin-left: 50px;">Fabian Sanchez</ion-card-title>
      <ion-card-subtitle style="margin-left: 50px;">Seccion 001D</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      Fabian Aramis Sanchez Cardinale, 21 años, 
      Estudiante de ingenieria en informatica en Duoc Uc sede San Joaquin
    </ion-card-content>
  </ion-card>
  
  <ion-card style="border-top: 3px solid gray" >
    <ion-card-header style="text-align: center;">
      <ion-avatar style="position: fixed;">    <img src="assets/icon/download.jpg" alt="">
      </ion-avatar>
      <ion-card-subtitle style="margin-left: 50px;">Ingenieria Informatica</ion-card-subtitle>
      <ion-card-title style="margin-left: 50px;">Keiji Nagano</ion-card-title>
      <ion-card-subtitle style="margin-left: 50px;">Seccion 001D</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keiji Andre Nagano Nakayama, 19 años, 
      Estudiante de ingenieria en informatica en Duoc Uc sede San Joaquin
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

