
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <ion-item><ion-button href="/about" color="medium">About</ion-button></ion-item>
    <ion-item><ion-button href="/clima" color="medium">Clima</ion-button></ion-item>
    <ion-item><ion-button href="/conversor" color="medium">Conversor</ion-button></ion-item>
    <ion-item><ion-button href="/login" color="danger">Cerrar sesion</ion-button></ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-content>
      <div>
        <ion-card color="light">
          <ion-card-content style="position: -ms-page;">
            <img src="assets/icon/Logo proyecto.PNG" alt="" style="width: 80%; height: 80%;margin-left: 10%;">
            <div>
              <ion-card style="border-top: 3px solid gray">
                <ion-card-content>
                  <p>Registra App es una aplicacion que ayuda a los profesores de las instituciones
                    de educacion superior a poder agilizar el proceso de toma de lista o registro de 
                    asistencia en las diferentes secciones que hay em duoc.
                  </p>
                </ion-card-content>
              </ion-card>
            </div>            
          </ion-card-content>
        </ion-card>
      </div>
      </ion-content>
  </ion-content>
</div>
